.gallery {
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: 1fr;
  grid-gap: 10px;
}

img {
  width: 100%;
  border-radius: 8px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

@media (min-width: 768px) {
  .gallery  {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
  }
}

@media (min-width: 992px) {
  .gallery  {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
  }
}